# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Coverage folder (for testing)
coverage/

# Babel cache
.cache/

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp